@import "./modules/homepage.css";
@import "./modules/menu.css";
@import "./modules/navbar.css";

:root {
  --white: #edfdfb;
  --black: #04030f;
}

html,
body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--white);
  overflow-x: hidden;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* main {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  transition: all 0.3s;
}

main > div {
  scroll-snap-align: center;
} */

a {
  text-decoration: none;
}
