#menu {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  height: 750px;
  margin: 0 auto;
  background-position: center;
  background-color: blue;
  position: relative;
  overflow: hidden;
}

.menu-item {
  margin-left: 50px;
  width: 250px;
  background-color: red;
}

.menu-item img {
  width: 200px;
}
