.menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  width: 90%;
  height: 750px;
  margin: 0 auto;
  background-position: center;
  position: relative;
}

#carousel {
  height: 100%;
  width: 800px;
  position: relative;
  transition: all 0.5s;
  margin: auto;
  overflow-x: hidden;
}

.menu ul,
.menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu img {
  width: 100px;
}

#carousel ul {
  position: relative;
  height: 100%;
  background-color: blue;
  width: 100%;
  transition: transform ease-in-out 1s;
}

#carousel li {
  width: 100%;
  border: yellow solid;
  position: absolute;
  top: 0;
  bottom: 0;
}

.current-dot {
  transition: all 0.5s;
  color: red;
}

.disable-btn {
  color: red;
}
