.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 90%;
  z-index: 1;
  transition: all 0.5s;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
}

header > a {
  color: var(--white) !important;
}
